{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                  <div class="card-title">
                    <h3 class="col-md-5 float-left">Название: {{ spectrum.name }}</h3>
                      <h3 class="float-right">Статус:
                          {% if spectrum.draft and spectrum.reject_reason == '' %}На рассмотрении
                          {% elif spectrum.reject_reason != '' %}<span style="color:red;">Отклонено</span>
                          {% else %}<span style="color:green;">Опубликовано</span>
                          {% endif %}
                          {% if user.is_superuser or user.is_staff%}
                            {% if spectrum.draft %}
                                <a href="{{ spectrum.get_update_url }}" class="btn btn-light"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                <a href="{{ spectrum.get_delete_url }}" class="btn btn-light"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                            {% else %}
                                <a href="{{ spectrum.get_delete_url }}" class="btn btn-light"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                            {% endif %}
                          {% elif spectrum.draft %}
                              <a href="{{ spectrum.get_update_url }}" class="btn btn-light"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                              <a href="{{ spectrum.get_delete_url }}" class="btn btn-light"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                          {% endif %}
                      </h3>
                  </div>
                </div>

                <div class="card-body">
                    <div class="row top5">
                        <div class="col-md-9">
                            <ul class="list-inline">
                                <li>
                                    <div class="h5">
                                        Дата публикации: {{ spectrum.date_created }}
                                    </div>
                                </li>
                                <li>
                                    <div class="h5">
                                        Дата проверки экспертом: {% if spectrum.draft == False %}{{ spectrum.date_curated }}{% else %}Не проверено{% endif %}
                                    </div>
                                </li>
                                {% if spectrum.date_updated %}
                                <li>
                                    <div class="h5">
                                        Дата обновления: {{ spectrum.date_updated }}
                                    </div>
                                </li>
                                {% endif %}
                                <li>
                                    <div class="h5">
                                        Отправитель: {{ spectrum.author.first_name }} {{ spectrum.author.last_name }}
                                    </div>
                                </li>
                                <li>
                                    <div class="h5" *ngIf="spectrum.splash">
                                        Регистрационный номер: {{ spectrum.reg_num }}
                                    </div>
                                </li>
                                <li>
                                    <div class="h5">
                                        {% if spectrum.etalon %}Является эталоном{% endif %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- mass spectral properties -->
                    <div class="row">
                        <div class="col-md-12">
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                Масс-спектр
                              </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                              <div class="accordion-body">
                                  {% autoescape off %}
                                  {{ plot_div }}
                                  {% endautoescape %}
                              </div>
                            </div>
                          </div>
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                Таблица ионов / Таблица пиков
                              </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                              <div class="accordion-body">
                                <div style="height: 400px; overflow: auto; margin-top: 10px;">
                                  <table class="table">
                                    <thead>
                                        <tr>
                                        <th scope="col">Ион</th>
                                        <th scope="col">Интенсивность</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for peak in peaks_list %}
                                        <tr>
                                            <td>{{ peak.0 }}</td>
                                            <td>{{ peak.1 }}</td>
                                        </tr>
                                        {% endfor %}
                                     </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                Параметры измерений
                              </button>
                            </h2>
                            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                                <div class="accordion-body">
                                <ol class="card-body list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="ms-2 me-auto">
                                            <div class="fw-bold">Тип источника / Тип хроматографии</div>
                                            {{ source }}
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="ms-2 me-auto">
                                            <div class="fw-bold">Тип / уровень MS</div>
                                            {{ level }}
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="ms-2 me-auto">
                                            <div class="fw-bold">Метод ионизации</div>
                                            {{ ionization }}
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="ms-2 me-auto">
                                            <div class="fw-bold">Полярность / Ионный режим</div>
                                            {{ polarity }}
                                        </div>
                                    </li>
                                </ol>
                            </div>
                            </div>
                          </div>
                        </div>
                        </div>
                    </div>
                    <br/>

                    <div class="clearfix"><br/></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div *ngIf="spectrum.metaData.length">
                                <h4>Дополнительные сведения</h4>
                                 <table class="table">
                                    <thead>
                                        <tr>
                                        <th scope="col">Наименование</th>
                                        <th scope="col">Значение</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for field in fields %}
                                            <tr>
                                                <td>{{ field.name }}</td>
                                                <td>{{ field.value }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
