{% load static %}
<div class="card">
    <div class="card-header">
        <div class="card-title">
            {% if spec.spectrum.is_etalon %}<span class="badge bg-secondary float-start">Аттестованный масс-спектр</span>&nbsp;&nbsp;{% endif %}
            {% if spec.spectrum.draft == False %}<span class="badge bg-success float-start">Опубликовано</span>{% endif %}
            {% if spec.spectrum.draft == True and spec.spectrum.reject_reason == '' %}<span class="badge bg-warning float-start">Не опубликовано</span>{% endif %}
            {% if spec.spectrum.reject_reason != '' %}<span class="badge bg-danger float-start">Отклонено</span>{% endif %}
            <span class="float-end">Автор: {{ spec.author.last_name }} {{ spec.author.first_name }}</span>
        </div>
    </div>

    <div class="card-body">
        <div class="card-group">
            <div class="col-lg-6 col-md-7 col-sm-6">
                <div class="card-columns">
                  <div class="row">
                    <div class="col-12">
                      <div class="masspec-medium">
                          <span>Название: <a style="cursor: pointer" href="{% url 'spectrum_detail_url' id=spec.id %}">{{ spec.name }}</a></span>
                          <br/><br/>
                          <div style="display: inline-block;">{% autoescape off %}{{ spec.plot_div }}{% endautoescape %}</div>
                      </div>
                    </div>
                  </div>
                </div>

            </div>

            <div class="col-lg-6 col-md-5 col-sm-6">
                {% for fields in spec.fields %}
                    {% for field in fields %}
                    <div class="row top5">
                        <div class="col-lg-5 col-md-5 col-sm-6">
                                <b>{{ field.name }}</b>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-6">
                            {{ field.value|truncatechars:20 }}
                        </div>
                    </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="card-footer">
        <div class="float-start mr-1">
            <span class="float-start mr-2"> Дата создания записи: {{ spec.create_date }} </span>
        </div>
          <a class="btn btn-success float-end" href="{% url 'spectrum_review_detail' id=spec.id %}">Просмотр записи</a>
    </div>
</div>
<div class="top17">&nbsp;</div>