{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                  <div class="card-title">
                    <h3 class="float-left">{{ name }} </h3>
<!--                    <h3 class="float-left"> {{ id }}</h3>-->
                    <h3 class="float-right"><spectrum-feedback-results-curation [spectrum]="spectrum"></spectrum-feedback-results-curation></h3>
                  </div>
                </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <h4 class="card-header">Масс-спектр</h4>
                            <div class="card-body">
                                {% autoescape off %}{{ plot_div }}{% endautoescape %}
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"><br/></div>

                    <div class="col-md-12">
                        <div class="card">
                            <h4 class="card-header">Пики</h4>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                        <th scope="col">Ион</th>
                                        <th scope="col">Интенсивность</th>
                                        <th scope="col">Комментарий</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for peak in peaks %}
                                        <tr>
                                            <td>{{ peak.0 }}</td>
                                            <td>{{ peak.1 }}</td>
                                            <td>{{ peak.comment }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"><br/></div>

                    <div class="col-md-12">
                        <div class="card">
                            <h4 class="card-header">Метаданные</h4>
                            <ol class="card-body list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">Тип источника / Тип хроматографии</div>
                                        {{ source }}
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">Тип / уровень MS</div>
                                        {{ level }}
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">Метод ионизации</div>
                                        {{ ionization }}
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">Полярность / Ионный режим</div>
                                        {{ polarity }}
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>

                    <div class="clearfix"><br/></div>

                    <div class="col-md-12">
                        <div class="card">
                            <h4 class="card-header">Общие сведения</h4>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                        <th scope="col">Наименование</th>
                                        <th scope="col">Значение</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for field in fields.meta_data %}
                                            <tr>
                                                <td>{{ field.0 }}</td>
                                                <td>{{ field.1 }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
