<!-- Footer
============================================= -->
<footer id="footer">
    <!-- Copyrights
============================================= -->
<div id="copyrights">
    <div class="container">

        <div class="w-100 text-center">
            <div class="copyrights-menu copyright-links clearfix">
                <i class="icon-mail"></i> office@vniims.ru <span class="middot">&middot;</span> <i class="icon-line-phone"></i> 8 (495) 665-30-87 <span class="middot">&middot;</span> <i class="icon-line2-pointer"></i> 119361, Москва, ул. Озерная, 46
            </div>
            <div class="copyright-links">Разработка ФГБУ ВНИИМС &copy; 2023</div>
        </div>

    </div>
</div><!-- #copyrights end -->
</footer><!-- #footer end -->
