{% load static %}
<!-- Header
============================================= -->

<header id="header" class="{% if request.path == '/' %}transparent-header full-header page-section dark{% else %}full-header page-section{% endif %}" data-sticky-class="not-dark" data-menu-padding="28" data-sticky-menu-padding="10">
    <div id="header-wrap">
        <div class="container">
            <div class="header-row">

                <!-- Logo
                ============================================= -->
                <div id="logo">
                    <a href="{% url 'main_page_url' %}" class="standard-logo" data-dark-logo="{% static 'assets/images/logo_2_dark.png' %}"><img src="{% static 'assets/images/logo_2.png' %}" alt="База Данных ВНИИМС"></a>
                </div><!-- #logo end -->

                <div class="header-misc">
                    <!-- Top Search
                    ============================================= -->
                    <div id="top-search" class="header-misc-icon">
                        <a href="#" id="top-search-trigger"><i class="icon-line-search"></i><i class="icon-line-cross"></i></a>
                    </div><!-- #top-search end -->
                </div>
                <div id="primary-menu-trigger">
                    <svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
                </div>

                <!-- Primary Navigation
                ============================================= -->
                <nav class="primary-menu style-4 menu-spacing-margin">

                    <ul class="menu-container">
                        <li class="menu-item">
                          <a class="menu-link" href="{% url 'main_page_url' %}">Главная</a>
                        </li>
                        <li class="menu-item">
                          <a class="menu-link" href="{% url 'main_page_url' %}">Новости</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="#"><div>База данных</div></a>
                            <ul class="sub-menu-container">
                                <li class="menu-item">
                                    <a class="menu-link" href="{% url 'spectrum_list' %}"><div>Аттестованные масс-спектры</div></a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="{% url 'spectrum_list' %}"><div>Реестр масс-спектров</div></a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="{% url 'spectrum_search' %}"><div>Поиск масс-спектров</div></a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                          <a class="menu-link" href="{% url 'upload' %}">Загрузить спектр</a>
                        </li>
                        <li class="menu-item">
                          <a class="menu-link" href="{% url 'spectrum_search' %}">Поиск спектров</a>
                        </li>
                        <li class="menu-item">
                          <a class="menu-link" href="/">Контакты</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="#">
                                {% if user.is_authenticated %}
                                  <div>Панель управления</div>
                                {% else %}
                                  <div>Вход / Регистрация</div>
                                {% endif %}
                            </a>
                            <ul class="sub-menu-container">
                                {% if user.is_superuser or user.is_staff %}
                                    <li class="menu-item">
                                        <a class="menu-link" href="/admin" target="_blank"><div>Админпанель</div></a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" href="{% url 'post_create_url' %}"><div>Создать статью</div></a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" href="{% url 'users_list' %}"><div>Список пользователей</div></a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" href="{% url 'spectrum_draft_list' %}"><div>Записи на проверку</div></a>
                                    </li>
                                {% endif %}
                                {% if user.is_authenticated %}
                                    <li class="menu-item">
                                        <a class="menu-link" href="{% url 'user-profile' username=user.username %}"><div>Профиль {{ user }}</div></a>
                                    </li>
                                      {% if request.path == '/user_profile/' %}
                                        <li class="menu-item">
                                            <a class="menu-link" href="{% url 'logout' %}?next={% url 'main_page_url' %}"><div>Выход</div></a>
                                        </li>
                                      {% else %}
                                        <li class="menu-item">
                                            <a class="menu-link" href="{% url 'logout' %}?next={% url 'main_page_url' %}"><div>Выход</div></a>
<!--                                            <a class="menu-link" href="{% url 'logout' %}?next={{ request.path }}"><div>Выход</div></a>-->
                                        </li>
                                      {% endif %}
                                {% else %}
                                    <li class="menu-item">
                                        <a id="login-btn" class="menu-link" href="#"><div>Авторизация</div></a>
                                    </li>
                                    <li class="menu-item">
                                        <a id="signup-btn" class="menu-link" href="#"><div>Регистрация</div></a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>

                </nav><!-- #primary-menu end -->
                <form name="search" class="top-search-form" role="search" action="{% url 'main_page_url' %}">
                    <input type="text" class="form-control" value="" placeholder="Поиск статей" name="search"/>
                </form>
            </div>
        </div>
    </div>
    <div class="header-wrap-clone"></div>
</header><!-- #header end -->