{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Bootstrap Data Table Plugin -->
	<link rel="stylesheet" href="{% static 'assets/css_new/components/bs-datatable.css' %}" type="text/css" />
<!-- Page Title
============================================= -->
<section id="page-title" class="dark" style="background-image: url({% static 'assets/images/main_image1.png' %});">

    <div class="container clearfix">
        <h1>Информация о пользователе</h1>
        <p class="mb-0 mt-2">В разделе собраны масс-спектры, загруженные пользователем</p>
    </div>

</section><!-- #page-title end -->

<!-- Content============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">

			<div class="row gutter-40 col-mb-80">
				<!-- Post Content
				============================================= -->
				<div class="postcontent mx-auto col-lg-9">
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-9 col-lg-offset-9 toppad">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title"><fa-icon [icon]="faUser"></fa-icon> Профиль пользователя</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3 col-lg-3" align="center">
                                        <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle">
                                        <br />
                                    </div>

                                    <div class=" col-md-9 col-lg-9">
                                        <table class="table table-user-information borderless">
                                            <tbody>
                                            <tr>
                                                <td>Имя:</td>
                                                <td>{{user.first_name}}</td>
                                            </tr>
                                            <tr>
                                                <td>Фамилия:</td>
                                                <td>{{user.last_name}}</td>
                                            </tr>
                                            <tr>
                                                <td>Отчество:</td>
                                                <td>{{user.patronymic}}</td>
                                            </tr>
                                            <tr>
                                                <td>Адрес электронной почты:</td>
                                                <td>{{user.email}}</td>
                                            </tr>
                                            <tr>
                                                <td>Организация:</td>
                                                <td>{{user.organization}}</td>
                                            </tr>
                                            <tr>
                                                <td>Должность:</td>
                                                <td>{{user.position}}</td>
                                            </tr>
                                            <tr>
                                                <td>Опыт работы:</td>
                                                <td>{{user.work_experience}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-footer">
                                <a href="{{ admin_object.get_update_url }}" class="btn btn-primary">Редактировать</a>
                            </div>

                        </div>
                    </div>
                </div><!-- #posts end -->
            </div>

            <div class="divider divider-rounded divider-center"></div>

            <div class="table-responsive">
                <div class="col-md-12">
                    <h3 class="panel-title">Масс-спектры, загруженные пользователем</h3>
                </div>
                <table id="datatable3" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Название</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Ссылка</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for spec in spectrums %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ spec.name }}</td>
                        <td>
                            {% if spec.draft == False %}<span class="badge bg-success float-start">Опубликовано</span>{% endif %}
                            {% if spec.draft == True and spec.reject_reason == '' %}<span class="badge bg-warning float-start">Не опубликовано</span>{% endif %}
                            {% if spec.reject_reason != '' %}<span class="badge bg-danger float-start">Отклонено</span>{% endif %}
                        </td>
                        <td>{{ spec.date_created }}</td>
                        <td><a href="{% url 'spectrum_review_detail' id=spec.id %}">Просмотр записи</a></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
