{% extends "base2.html" %}
{% load static %}
{% block title %}
    Редактирование пользователя {{ user.username|title }}
{% endblock %}
{% block content %}
<!-- Page Title
============================================= -->
<section id="page-title" class="dark" style="background-image: url({% static 'assets/images/main_image1.png' %});">

    <div class="container clearfix">
        <h1>Редактирование профиля пользователя</h1>
    </div>

</section><!-- #page-title end -->

<!-- Content============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">

			<div class="row gutter-40 col-mb-80">
				<!-- Post Content
				============================================= -->
				<div class="postcontent mx-auto col-lg-10 col-md-9">
                    <div class="card">
                        <div class="card-body">
                            <form action="{{ admin_object.get_update_url }}" method="post">
                              {% csrf_token %}
                                {% for field in form %}
                                <div class="form-group">
                                    {% if field.errors %}
                                    <div class="alert alert-danger">
                                        {{ field.errors }}
                                    </div>
                                    {% endif %}
                                <div class="mb-3">
                                    <label class="form-label">{{ field.label }}</label>
                                    {{ field }}
                                </div>
                                </div>
                                {% endfor %}
                                <a href="{{ user.get_absolute_url }}" class="btn btn-primary">Отмена</a>
                                <button type="submit" class="btn btn-success">Обновить профиль</button>
                            </form>
                        </div>
                    </div>
                </div><!-- #posts end -->
            </div>
        </div>
    </div>
</section>
{% endblock %}