{% extends "base.html" %}
{% load static %}
{% block content %}
<script type="text/javascript">
    function submitForm() {
        $("#metadataForm").submit();
    }
</script>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-center">
                Данные о масс-спектре
                <a href="{% url 'upload_peaks' id=id %}" class="btn btn-link float-start">Назад</a>
                <button type="button" class="btn btn-link float-end" onclick="submitForm();">Далее</button>
            </div>
            <div class="card-body">
                <p>Эти сведения обеспечивают более полное представление о масс-спектре и позволяют пользователям легче находить важные спектры. Ниже приведен список <b>настоятельно рекомендуемых</b> к предоставлению сведений.</p>
                <form method="post" id="metadataForm">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="sourceSelect" class="form-label">Введение источника / Тип хроматографии:</label>
                        <select id="sourceSelect" name="source" class="form-select" aria-label="Default select example">
                            <option value="0" {% if obj.source == 0 %}selected{% endif %}>Выбрать один вариант</option>
                            <option value="1" {% if obj.source == 1 %}selected{% endif %}>Жидкостная хроматография (LC)</option>
                            <option value="2" {% if obj.source == 2 %}selected{% endif %}>Газовая хроматография (GC)</option>
                            <option value="3" {% if obj.source == 3 %}selected{% endif %}>Прямая инъекция/инфузия (DI)</option>
                            <option value="4" {% if obj.source == 4 %}selected{% endif %}>Капиллярный электрофорез (CE)</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="levelSelect" class="form-label">Тип / уровень MS:</label>
                        <select id="levelSelect" name="level" class="form-select" aria-label="Default select example">
                            <option value="0" {% if obj.level == 0 %}selected{% endif %}>Выбрать один вариант</option>
                            <option value="1" {% if obj.level == 1 %}selected{% endif %}>MS</option>
                            <option value="2" {% if obj.level == 2 %}selected{% endif %}>MS2</option>
                            <option value="3" {% if obj.level == 3 %}selected{% endif %}>MS3</option>
                            <option value="4" {% if obj.level == 4 %}selected{% endif %}>MS4</option>
                            <option value="5" {% if obj.level == 5 %}selected{% endif %}>MS5</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="ionizationSelect" class="form-label">Метод ионизации:</label>
                        <select id="ionizationSelect" name="ionization" class="form-select" aria-label="Default select example">
                            <option value="0" {% if obj.ionization == 0 %}selected{% endif %}>Выбрать один вариант</option>
                            <option value="1" {% if obj.ionization == 1 %}selected{% endif %}>Химическая ионизация при атмосферном давлении (APCI)</option>
                            <option value="2" {% if obj.ionization == 2 %}selected{% endif %}>Электронный удар (EI)</option>
                            <option value="3" {% if obj.ionization == 3 %}selected{% endif %}>Химическая ионизация (CI)</option>
                            <option value="4" {% if obj.ionization == 4 %}selected{% endif %}>Ионизация электрораспылением (ESI)</option>
                            <option value="5" {% if obj.ionization == 5 %}selected{% endif %}>Быстрая атомная бомбардировка (FAB)</option>
                            <option value="6" {% if obj.ionization == 6 %}selected{% endif %}>Лазерная десорбция ионизация с матрицей (MALDI)</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="polaritySelect" class="form-label">Полярность / Ионный режим:</label>
                        <select id="polaritySelect" name="polarity" class="form-select" aria-label="Default select example">
                            <option value="0" {% if obj.polarity == 0 %}selected{% endif %}>Выбрать один вариант</option>
                            <option value="1" {% if obj.polarity == 1 %}selected{% endif %}>Положительный</option>
                            <option value="2" {% if obj.polarity == 2 %}selected{% endif %}>Отрицательный</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="card-footer text-body-secondary">
                <a href="{% url 'upload_peaks' id=id %}" class="btn btn-link float-start">Назад</a>
                <button type="button" class="btn btn-link float-end" onclick="submitForm();">Далее</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
