{% extends "base.html" %}
{% load static %}
{% block content %}
<script type="text/javascript">
    function addField() {
        var form = $("#fieldsForm");
        var index = Number(form.children().last().attr("index")) + 1;
        form.append(
            '<div class="input-group mb-3" id="peakField' + index + '" index="' + index + '" }}>' +
                '<input name="x' + index + '" type="text" class="form-control" placeholder="Key" value="">' + 
                '<input name="y' + index + '" type="text" class="form-control" placeholder="Value" value="">' + 
                '<button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="removeField(' + index + ');">Remove</button>' +
            '</div>'
        );
    }

    function removeField(id) {
        $("#peakField" + id).remove();
    }

    function submitForm() {
        $("#peaksForm").submit();
    }

    function cancelUploading() {
        $("#cancelUploading").submit();
    }
</script>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-center">
                Spectrum Metadata
                <button type="button" class="btn btn-link float-start" onclick="cancelUploading();">Отмена</a>
                <button type="button" class="btn btn-link float-end" onclick="submitForm();">Далее</button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div *ngIf="currentFeedback.length > 0">
                            <spectrum-feedback-results-community [spectrumID]="spectrum.id" [currentFeedback]="currentFeedback"></spectrum-feedback-results-community>
                        </div>
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                        Масс-спектр
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                    <div class="accordion-body">
                                        {% autoescape off %}
                                        {{ plot_div }}
                                        {% endautoescape %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <form method="post" id="peaksForm">
                            {% csrf_token %}
                            {% for peak in peaks %}
                                <div class="input-group mb-3" id="peakField{{ forloop.counter0 }}" index={{ forloop.counter0 }}>
                                    <div class="form-check">
                                        <input class="form-check-input" id="active{{ forloop.counter0}}" name="active{{ forloop.counter0}}" type="checkbox" checked>
                                    </div>
                                    <input id="x{{ forloop.counter0 }}" name="x{{ forloop.counter0 }}" type="text" class="form-control" placeholder="X" value="{{ peak.x }}">
                                    <input id="y{{ forloop.counter0 }}" name="y{{ forloop.counter0 }}" type="text" class="form-control" placeholder="Y" value="{{ peak.y }}">
                                    <input id="comment{{ forloop.counter0 }}" name="comment{{ forloop.counter0 }}" type="text" class="form-control" placeholder="Комментарий" value="{{ peak.comment }}">
                                </div>
                            {% endfor %}
                        </form>
                        <button class="btn btn-outline-secondary" onclick="addField();" type="button" id="button-add-field">Add field</button>
                    </div>
                </div>
            </div>
            <form method="post" id="cancelUploading">
                {% csrf_token %}
                <input type="hidden" name="_method" value="DELETE">
            </form>
            <div class="card-footer text-body-secondary">
                <button type="button" class="btn btn-link float-start" onclick="cancelUploading();">Отмена</a>
                <button type="button" class="btn btn-link float-end" onclick="submitForm();">Далее</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
