{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-center">
                Spectrum Metadata
                <a href="{% url 'upload_fields' id=id %}" type="button" class="btn btn-link float-start">Назад</a>
                <a href="{% url 'main' %}" class="btn btn-link float-end">Сохранить</a>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <h4 class="card-header">Масс-спектр</h4>
                            <div class="card-body">
                                {% autoescape off %}{{ plot_div }}{% endautoescape %}
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"><br/></div>

                    <div class="col-md-12">
                        <div class="card">
                            <h4 class="card-header">Пики</h4>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                        <th scope="col">Ион</th>
                                        <th scope="col">Интенсивность</th>
                                        <th scope="col">Комментарий</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for peak in peaks %}
                                        <tr>
                                            <td>{{ peak.0 }}</td>
                                            <td>{{ peak.1 }}</td>
                                            <td>{{ peak.comment }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"><br/></div>

                    <div class="col-md-12">
                        <div class="card">
                            <h4 class="card-header">Метаданные</h4>
                            <ol class="card-body list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">Введение источника / Тип хроматографии</div>
                                        {{ source }}
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">Тип / уровень MS</div>
                                        {{ level }}
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">Метод ионизации</div>
                                        {{ ionization }}
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">Полярность / Ионный режим</div>
                                        {{ polarity }}
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>

                    <div class="clearfix"><br/></div>

                    <div class="col-md-12">
                        <div class="card">
                            <h4 class="card-header">Поля</h4>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                        <th scope="col">Ключ</th>
                                        <th scope="col">Значение</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for field in fields.meta_data %}
                                            <tr>
                                                <td>{{ field.0 }}</td>
                                                <td>{{ field.1 }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-body-secondary">
                <a href="{% url 'upload_fields' id=id %}" type="button" class="btn btn-link float-start">Назад</a>
                <a href="{% url 'main' %}" class="btn btn-link float-end">Сохранить</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
