{% load static %}

<!-- Header -->
  <!-- Messages -->
  <div>
    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'success' %}
          <div id="success-alert" style="border-radius:0;" class="alert alert-icon alert-success alert-dismissible fade show mb-0" role="alert">
            {{ message }}
          </div>
        {% else %}
          <div id="error-alert" style="border-radius:0;" class="alert alert-icon alert-danger alert-dismissible fade show mb-0" role="alert">
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <!-- End Messages -->

<!-- End Header -->
