{% load static %}
{% load cache %}

<!DOCTYPE html>
<html dir="ltr" lang="ru-RU">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="ipsorus" content="VNIIMS23DB" />
	<link rel="icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon">

	<!-- Stylesheets
	============================================= -->
    {% block stylesheets %}
	{% cache 5600 base_page_css %}
<!--	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />-->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'assets/css/swiper.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'assets/css/dark.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'assets/css/font-icons.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'assets/css/animate.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}" type="text/css" />
	<!-- Font awesome CSS -->
	<link rel="stylesheet" href="{% static 'assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	{% endcache %}
	{% endblock stylesheets %}
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- Document Title
	============================================= -->
	<title>Библиотека масс-спектров сильнодействующих, наркотических и психоактивных веществ</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">
		{% include 'includes/navbar.html'%}
		{% if request.path == '/' %}
		{% cache 360 base_page_main_image %}
		<section id="slider" class="slider-element slider-parallax min-vh-60 min-vh-md-100 dark include-header" style="background: url({% static 'assets/images/logo-img1.png' %}) center center no-repeat; background-attachment: fixed; background-size: cover">
			<div class="slider-inner">

				<div class="vertical-middle slider-element-fade">
					<div class="container-fluid py-5">
						<br/>
						<br/>
						<div class="content-wrap">
						<div class="row clearfix align-items-stretch bottommargin-lg landing-wide-form">

							<div class="col-lg-3 col-md-6 dark left col-padding" style="background-color: #88C3D8;">
								<h3>Библиотека масс-спектров сильнодействующих, наркотических и психоактивных веществ VNIIMS_23DB</h3>
							</div>

							<div class="col-lg-3 col-md-6 dark center col-padding">
								<i class="i-plain i-xlarge mx-auto icon-line2-check"></i>
								<div class="counter counter-lined"><span data-from="0" data-to="{{ spectrum_etalon }}" data-refresh-interval="15" data-speed="2000"></span></div>
								<h5>Загружено аттестованных масс-спектров</h5>
							</div>

							<div class="col-lg-3 col-md-6 dark center col-padding">
								<i class="i-plain i-xlarge mx-auto icon-line2-bar-chart"></i>
								<div class="counter counter-lined"><span data-from="0" data-to="{{ spectrum_users }}" data-refresh-interval="15" data-speed="2000"></span></div>
								<h5>Загружено масс-спектров пользователями</h5>
							</div>

							<div class="col-lg-3 col-md-6 dark center col-padding">
								<i class="i-plain i-xlarge mx-auto icon-line2-user"></i>
								<div class="counter counter-lined"><span data-from="0" data-to="{{ users }}" data-refresh-interval="15" data-speed="2000"></span></div>
								<h5>Зарегистрировано пользователей</h5>
							</div>
						</div></div>
					</div>
				</div>
				<a href="#" data-scrollto="#content" data-offset="100" class="one-page-arrow dark"><i class="icon-angle-down infinite animated fadeInDown"></i></a>
			</div>
		</section>
		{% endcache %}
		{% endif %}
		<!-- Content
		============================================= -->
		{% block content %}
		{% endblock %}
		<!-- #content end -->
		{% if is_paginated %}
		<ul class="pagination justify-content-center">
			<li class="page-item {% if not prev_url %} disabled {% endif %}">
				<a class="page-link" href="{{ prev_url}}" tabindex="-1" aria-disabled="true">Назад</a>
			</li>
			  {% for n in page_object.paginator.page_range %}
					{% if page_object.number == n %}
						<li class="page-item active">
							<a class="page-link" href="?page={{ n }}{% if search_url %}{{ search_url }}{% endif %}">{{ n }}<span class="sr-only"></span></a>
						</li>
					{% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
					<li class="page-item">
						<a class="page-link" href="?page={{ n }}{% if search_url %}{{ search_url }}{% endif %}">{{ n }}</a>
					</li>
					{% endif %}
			{% endfor %}

			<li class="page-item {% if not next_url %} disabled {% endif %}">
					<a class="page-link" href="{{ next_url}}" tabindex="-1" aria-disabled="true">Вперед</a>
			</li>
			</ul>
		{% endif %}
		{% include "includes/_footer.html" %}

	</div>
	<!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

    {% block scripts %}
	{% cache 5600 base_page_js %}
	<!-- External JavaScripts
	============================================= -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script type="text/javascript" src="{% static 'assets/js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins.js' %}"></script>

	<!-- Bootstrap Data Table Plugin -->
	<script type="text/javascript" src="{% static 'assets/js/components/bs-datatable.js' %}"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="{% static 'assets/js/functions.js' %}"></script>
	<!-- You can alternatively load the minified version -->
	<script src="{% static 'assets/js/jquery.bootstrap.modal.forms.js' %}"></script>

	<script src="{% static 'assets/js/loader.js' %}"></script>
	{% endcache %}
    {% endblock scripts %}

	{% include "includes/_modal.html" %}

    {% block extrascripts %}
		{% if request.path == '/spectrum_search/' %}
		<script>
			$("#keyword_search").click(function(){
				$("input").each(function(){
					if($(this).val() == '') {
						$(this).remove();
					}
				});
				$("#keyword_searching").submit();
			});
		</script>
		{% endif %}

		<script>

			$(document).ready(function() {
				$('#datatable1').dataTable();
			});
			$(document).ready(function() {
				$('#datatable2').dataTable();
			});
			$(document).ready(function() {
				$('#datatable3').dataTable();
			});
			$(document).ready(function() {
				$('#datatable4').dataTable();
			});

		</script>

      	<script type="text/javascript">
          $(function () {
              // Login
              $("#login-btn").modalForm({
                formURL: "{% url 'login' %}?next={{ request.path }}"
              });

              // Login
              $("#login-btn_upload_page").modalForm({
                formURL: "{% url 'login' %}?next={{ request.path }}"
              });

<!--              //  Signup-->
<!--              $("#signup-btn").modalForm({-->
<!--                formURL: "{% url 'signup' %}?next={{ request.path }}"-->
<!--              });-->

              // Hide message
    <!--          $(".alert").fadeTo(2000, 500).slideUp(500, function () {-->
    <!--              $(".alert").slideUp(500);-->
    <!--          });-->

              $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                   $("#success-alert").slideUp(500);
              });

              $("#error-alert").fadeTo(2000, 500).slideUp(500, function(){
                   $("#error-alert").slideUp(500);
              });

          });
      	</script>
    {% endblock extrascripts %}
</body>
</html>



