{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Page Title
============================================= -->
<section id="page-title" class="dark" style="background-image: url({% static 'assets/images/main_image1.png' %});">

    <div class="container clearfix">
        <h1>Контакты и реквизиты</h1>
    </div>

</section><!-- #page-title end -->
{% include 'includes/_header.html'%}
<!-- Content============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <!-- Posts
            ============================================= -->
            <div id="posts" class="row mx-auto col-lg-9">
                <div class="flip-card text-center top-to-bottom">
                    <div class="flip-card-front dark" style="background-image: url({% static 'assets/images/main_image1.png' %});">
                        <div class="flip-card-inner">
                            <div class="card bg-transparent border-0 text-center">
                                <div class="card-body">
                                    <h3 class="card-title">Справочно-информационная служба</h3>
                                    <p class="card-text fw-normal">8 (495) 665-30-87, 8 (495) 437-37-29</p>
                                    <p class="card-text fw-normal">119361, Москва, ул. Озерная, 46, ФГБУ ВНИИМС</p>
                                    <p class="card-text fw-normal">office@vniims.ru</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="flip-card-inner">
                            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa58a149d65d2f8417536faceaea06a204887e7ad54a0d70035779b76b2a495ac&amp;width=1000&amp;height=270&amp;lang=ru_RU&amp;scroll=true"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}