{% extends "base2.html" %}
{% load static %}

{% block content %}
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="row justify-content-center col-mb-20">
                <div class="col-lg-5">
                    <div class="emphasis-title">
                        <h3>Добро пожаловать<br>в базу данных VNIIMS_23DB</h3>
                    </div>
                    <p class="lead">База данных предназначена для достоверной идентификации сильнодействующих, наркотических и психоактивных веществ, востребованных в экспертно-криминалистических лабораториях наркотических и токсичных веществ, применяемых для обеспечения единства измерений в экспертно-криминалистической деятельности</p>
                </div>

                <div class="col-lg-7">
                    <div style="position: relative; margin-bottom: 70px;" class="ohidden" data-height-lg="426" data-height-md="567" data-height-sm="470" data-height-xs="287" data-height-xxs="183">
                        <img src="{% static 'assets/images/main_image.png' %}" style="position: absolute; top: 0; left: 0;" data-animate="fadeInUp" data-delay="100" alt="Chrome">
                    </div>
                </div>
            </div>
            <br/><br/><br/>
        </div>

        <div class="section parallax dark" style="background: url({% static 'assets/images/logo-img1.png' %}) center center no-repeat; background-attachment: fixed; background-size: cover">
            <div class="container clear-bottommargin clearfix landing-wide-form">
                <div class="emphasis-title center mb-0">
                        <h3>Цели и задачи:</h3>
                    </div>

                <div class="row clearfix">

                    <div class="col-lg-4 col-md-6 dark col-padding">
                        <div class="heading-block nobottomborder" style="margin-bottom: 10px;">
                            <h4>Информационное обеспечение</h4>
                        </div>
                        <p>Информационное обеспечение сотрудников токсикологических, экспертно-криминалистических лабораторий об имеющихся масс-спектрах сильнодействующих веществ</p>
                    </div>

                    <div class="col-lg-4 col-md-6 dark col-padding">
                        <div class="heading-block nobottomborder" style="margin-bottom: 10px;">
                            <h4>Предоставление информации</h4>
                        </div>
                        <p>Предоставление информации сотрудникам ВНИИМС (головного исполнителя, отвечающего за метрологическую составляющую данной БД)</p>
                    </div>

                    <div class="col-lg-4 col-md-6 dark col-padding">
                        <div class="heading-block nobottomborder" style="margin-bottom: 10px;">
                            <h4>Обмен информацией</h4>
                        </div>
                        <p>Обмен информацией между всеми пользователями БД с целью обеспечения возможности для любого пользователя идентифицировать неизвестное соединение</p>
                    </div>

                </div>

            </div>
        </div>
        <!-- Posts
        ============================================= -->
        <div class="section parallax bottommargin-lg landing-wide-form" style="background-image: url({% static 'assets/images/main_image1.png' %});">
            <div class="heading-block center border-bottom-0 mb-0 dark">
                <h2>Уведомления техподдержки</h2>
            </div>
        </div>
        <div class="container clearfix">

            <div id="posts" class="row mx-auto col-lg-9">
                {% for post in page_object.object_list %}
                  {% include 'includes/post_card_template.html' %}
                {% endfor %}
            </div><!-- #posts end -->
        </div>
    </div>
</section>

{% endblock %}
