{% extends "base.html" %}
{% load static %}
{% block content %}
<script type="text/javascript">
    function addField() {
        alert("add");
    }
</script>
<h1>Просмотр спектров</h1>
<hr />
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for spec in objects %}
        <a href="{% url 'viewSpectrum1' id=spec.id %}">
            <div class="col">
                <div class="card">
                <img src="{% static spec.image %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ spec.name }}</h5>
                    {% comment %} <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> {% endcomment %}
                </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}
