{% extends "base2.html" %}
{% load static %}
{% block content %}
<!-- Page Title
============================================= -->
<section id="page-title" class="dark" style="background-image: url({% static 'assets/images/main_image1.png' %});">

    <div class="container clearfix">
        <h1>Масс-спектры на проверку (всего {{ count }}):</h1>
        <p class="mb-0 mt-2">В разделе собраны загруженные пользователями масс-спектры, не прошедшие проверку экспертом</p>
    </div>

</section><!-- #page-title end -->
{% include 'includes/_header.html'%}
<!-- Content============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">

			<div class="row gutter-40 col-mb-80">
				<!-- Post Content
				============================================= -->
				<div class="postcontent mx-auto col-lg-10 col-md-9">
                    {% for spec in page_object.object_list %}
                      {% include 'spectra/display/spectrum_card_draft_template.html' %}
                    {% endfor %}
                </div><!-- #posts end -->
            </div>
        </div>
    </div>
</section>
{% endblock %}
