{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Bootstrap Data Table Plugin -->
	<link rel="stylesheet" href="{% static 'assets/css_new/components/bs-datatable.css' %}" type="text/css" />
<!-- Page Title
============================================= -->
<section id="page-title" class="dark" style="background-image: url({% static 'assets/images/main_image1.png' %});">

    <div class="container clearfix">
        <h1>Масс-спектры на проверку (всего {{ count }}):</h1>
        <p class="mb-0 mt-2">В разделе собраны загруженные пользователями масс-спектры, не прошедшие проверку экспертом</p>
    </div>

</section><!-- #page-title end -->
{% include 'includes/_header.html'%}
<!-- Content============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">

            <div class="table-responsive">
                <table id="datatable4" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Название</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Автор</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Ссылка</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for spec in spectrums %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ spec.name }}</td>
                        <td>
                            {% if spec.draft == False %}<span class="badge bg-success float-start">Опубликовано</span>{% endif %}
                            {% if spec.draft == True and spec.reject_reason == '' %}<span class="badge bg-warning float-start">Не опубликовано</span>{% endif %}
                            {% if spec.reject_reason != '' %}<span class="badge bg-danger float-start">Отклонено</span>{% endif %}
                        </td>
                        <td>{{ spec.author }}</td>
                        <td>{{ spec.date_created }}</td>
                        <td><a href="{% url 'spectrum_review_detail' id=spec.id %}">Просмотр записи</a></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

			<div class="row gutter-40 col-mb-80">
				<!-- Post Content
				============================================= -->
				<div class="postcontent mx-auto col-lg-10 col-md-9">
                    {% for spec in page_object.object_list %}
                      {% include 'spectra/display/spectrum_card_draft_template.html' %}
                    {% endfor %}
                </div><!-- #posts end -->
            </div>
        </div>
    </div>
</section>
{% endblock %}
