{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Bootstrap Data Table Plugin -->
	<link rel="stylesheet" href="{% static 'assets/css_new/components/bs-datatable.css' %}" type="text/css" />
<!-- Page Title
============================================= -->
<section id="page-title" class="dark" style="background-image: url({% static 'assets/images/main_image1.png' %});">

    <div class="container clearfix">
        <h1>Масс-спектры в базе данных (всего {{ count }}):</h1>
        <p class="mb-0 mt-2">В разделе собраны аттестованные масс-спектры</p>
    </div>

</section><!-- #page-title end -->
{% include 'includes/_header.html'%}
<!-- Content============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
<!--            <div class="table-responsive">-->
<!--                <table id="datatable4" cellspacing="0" width="100%">-->
<!--                    <thead>-->
<!--                      <tr>-->
<!--                        <th></th>-->
<!--                      </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    {% for spec in page_object %}-->
<!--                    <tr><td>-->
<!--                      {% include 'spectra/display/spectrum_card_template.html' %}-->
<!--                    </td></tr>-->
<!--                    {% endfor %}-->

<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
            <div class="row gutter-40 col-mb-80">
				<!-- Post Content
				============================================= -->
				<div  class="postcontent mx-auto col-lg-10 col-md-9">
                    {% for spec in page_object.object_list %}
                      {% include 'spectra/display/spectrum_card_template.html' %}
                    {% endfor %}

                </div><!-- #posts end -->
            </div>
        </div>
    </div>
</section>








<!--<h1>Масс-спектры в базе данных (всего {{ count }}):</h1>-->
<!--<hr />-->
<!--<div class="row top17">-->
<!--    <div class="col-md-12">-->
<!--      <p>-->
<!--          <strong>В разделе странице собраны подтвержденные масс-спектры</strong>-->
<!--      </p>-->
<!--    </div>-->
<!--    &lt;!&ndash; display spectra as list &ndash;&gt;-->
<!--    <div class="col-md-12">-->
<!--        <div class="m-md-3">-->
<!--            {% for spec in page_object.object_list %}-->
<!--              {% include 'spectra/display/spectrum_card_template.html' %}-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
{% endblock %}
