<div class="entry col-12">
    <div class="grid-inner">
        <div class="entry-title">
            <h2><a href="blog-single.html">{{ post.title }}</a></h2>
        </div>
        <div class="entry-meta">
            <ul>
                <li><i class="icon-calendar3"></i> {{ post.date_pub }}</li>
                <li><a href="#"><i class="icon-user"></i> {{ post.user.username }}</a></li>
            </ul>
        </div>
        <div class="entry-content">
            <p>{{ post.body|truncatewords:50 }}</p>
            <a href="{{ post.get_absolute_url }}" class="more-link">Читать</a>
        </div>
    </div>
</div>