{% extends "base2.html" %}
{% load static %}
{% block title %}
    Создание статьи для сайта
{% endblock %}
{% block content %}
<!-- Page Title
============================================= -->
<section id="page-title" class="dark" style="background-image: url({% static 'assets/images/main_image1.png' %});">

    <div class="container clearfix">
        <h1>Создание статьи для сайта</h1>
    </div>

</section><!-- #page-title end -->

<!-- Content============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">

			<div class="row gutter-40 col-mb-80">
				<!-- Post Content
				============================================= -->
                <div class="postcontent mx-auto col-lg-9">
                    <div class="card">
                        <div class="card-header">
                            Новая статья для сайта
                        </div>
                        <div class="card-body">
                            <form action="{% url 'post_create_url' %}" method="post">
                              {% csrf_token %}

                                {% for field in form %}
                                <div class="form-group">
                                    {% if field.errors %}
                                    <div class="alert alert-danger">
                                        {{ field.errors }}
                                    </div>
                                    {% endif %}
                                    {{ field.label }}
                                    {{ field }}
                                </div>
                                {% endfor %}

                              <button type="submit" class="btn btn-success">Сохранить новость</button>
                            </form>
                        </div>
                    </div>
                </div><!-- #posts end -->
            </div>
        </div>
    </div>
</section>

{% endblock %}
