{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Page Title
============================================= -->
<section id="page-title" class="dark" style="background-image: url({% static 'assets/images/main_image1.png' %});">

    <div class="container clearfix">
        <h1>Новости с тегом: "{{ tag.title|title }}":</h1>
    </div>

</section><!-- #page-title end -->
{% include 'includes/_header.html'%}
<!-- Content============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">

			<div class="row gutter-40 col-mb-80">
				<!-- Post Content
				============================================= -->
				<div class="postcontent mx-auto col-lg-9">
                    {% for post in tag.posts.all %}
                      {% include 'includes/post_card_template.html' %}
                    {% endfor %}
                </div><!-- #posts end -->
            </div>
        </div>
    </div>
</section>
{% endblock %}
