{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Page Title
============================================= -->
<section id="page-title" class="dark" style="background-image: url({% static 'assets/images/main_image1.png' %});">

    <div class="container clearfix">
        <h1>Уведомление {{ support.title }}</h1>
    </div>

</section><!-- #page-title end -->
{% include 'includes/_header.html'%}
<!-- Content============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">

			<div class="row gutter-40 col-mb-80">
				<!-- Post Content
				============================================= -->
				<div class="postcontent mx-auto col-lg-9">
                    <div class="card">
                      <h5 class="card-header">{{ support.date_pub }}</h5>
                      <div class="card-body">
                        <h5 class="card-title">{{ support.title }}</h5>
                        <p class="card-text">{{ support.body }}</p>
                      </div>
                      <div class="card-footer text-muted">
                          <a href="{{ admin_object.get_delete_url }}" class="btn btn-danger">Удалить</a>
                          <a href="{{ admin_object.get_update_url }}" class="btn btn-light">Редактировать</a>
                      </div>
                    </div>
                </div><!-- #posts end -->
            </div>
        </div>
    </div>
</section>
{% endblock %}
